# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
pip-wheel-metadata/
share/python-wheels/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# JetBrains
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs and databases
*.log
*.pot
*.sql
*.sqlite3

# dotenv
.env
.env.*.local

# PEP 582; used by e.g. python-poetry
__pypackages__/

# Editor backups
*~
*.bak

# Streamlit
.streamlit/
.streamlit/secrets.toml
.streamlit/config.toml
